.eslintignore
.eslintrc.js
.gitignore
babel.config.js
k6config.js
newrelic_agent.log
newrelic_agent.log
README.md
videoNotes.md
webpack.config.js

server/routes

public/fonts/
public/images/
public/bundle.js
public/bundle.js.br
public/bundle.js.gz
public/stylesheet.css

node_modules/

database/seeding

client/

__tests__/